<% if @teams_group_a.empty?  %>
  <%= render partial: 'form', locals: { group_name: "A"} %>
<% end %>

<% if @teams_group_b.empty?  %>
  <%= render partial: 'form', locals: { group_name: "B"} %>
<% end %>

<% for team_group in [@teams_group_a, @teams_group_b] do %>
<table>
  <tr>
    <td>Team name</td>
    <td>Group name</td>
  </tr>
  <% team_group.each do |team| %>
    <tr>
      <td> <%= team.name %></td>
        <td> <%= team.group_name  %> </td>
    </tr>
  <% end %>
</table>
<br>
<% end %>

